{% extends 'admin_base.html.twig' %}

{% block title %}Matière -
	{{ titleMenu  }}
{% endblock %}

{% block body %}

	<div class="form-add" id='__form__'>
		<div class="title-left">
			<h5>
				<i class="fa-solid fa-circle-plus"></i>
				Ajout Matière
			</h5>
		</div>
		{{ form_start( form_Matiere )}}
		{{ form_row( form_Matiere.denomination )}}
		{{ form_row( form_Matiere.abreviation )}}
		<div class="boutton__">
			<button class='btn btn-info ' type='submit'>
				<i class="fa-solid fa-check"></i>
				Valider
			</button>
		</div>
		{{ form_end( form_Matiere )}}
	</div>


	<div class="table-container mt-3">
		<div class='tab-search-bar'>
			{% include "partials/search/search.html.twig" with {
				'form' : form_search
			} %}
		</div>
		<div class="title-left">
			<h5>
				<i class="fa-solid fa-bars-staggered"></i>
				Liste des matières
			</h5>
		</div>
		<table class="table table-md  table-hover">
			<thead class=''>
				<tr>
					<th>
						Dénomination
						<i class="fas fa-tag text-primary"></i>
					</th>
					<th>
						Abréviation
						<i class="fas fa-font text-primary"></i>
					</th>
					<th>Action
						<i class="fas fa-cogs text-primary"></i>
					</th>
				</tr>
			</thead>
			<tbody>
				{% for data in datas %}
					<tr id="tr_table_{{ data.id }}">
						<td>{{ data.denomination|capitalize  }}</td>
						<td>{{ data.abreviation|capitalize  }}</td>
						<td>
							{# <a href="{{ path('parametre_niveau_edit' , { id:data.id }) }}" class="btn btn-sm btn-outline-primary"> #}
							<a href="{{path('parametre_Matiere_edit' , {id:data.id}) }}" class="btn btn-sm btn-outline-primary edit">
								<i class="fa-solid fa-pen-to-square"></i>
							</a>
							<form action="{{ path('parametre_matiere_delete' , { id:data.id } ) }}" class="__delete_form">
								<input type="hidden" name='id' value='{{ data.id }}'>
								<button type="button" onclick='__delete( this , {{ data.id }} )' class="btn btn-sm btn-outline-danger">
									<i class="fa-solid fa-trash"></i>
								</button>
							</form>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="navigation ">
			{{ knp_pagination_render(datas) }}
		</div>
	</div>
{% endblock %}
