{% extends 'admin_base.html.twig' %}
{% block title %}Droit d'inscription -
	{{ titleMenu  }}
{% endblock %}
{% block body %}

	<div class="form-add " id='__form__'>
		<div class="title-left">
			<h5>
				<i class="fa-solid fa-circle-plus"></i>
				Droit d'inscription
			</h5>
		</div>
		{{ form_start( form )}}
		{{ form_row( form.Niveau) }}
		{{ form_row( form.montant) }}
		<div class="boutton__">
			<button class="btn btn-info" type='submit'>
				<i class="fa-solid fa-check"></i>
				Valider
			</button>
		</div>
		{{ form_end( form )}}
	</div>

	<div class="table-container mt-3">
		<div class='tab-search-bar'>
			{% include "partials/search/search.html.twig" with {
				'form' : form_search
			} %}
		</div>
		<div class="title-left">
			<h5>
				<i class="fa-solid fa-bars-staggered"></i>
				Droit d'inscription
			</h5>
		</div>
		<div class="table_overflow">
			<table class="table table-md  table-hover">
			<thead class=''>
				<tr>
					<th>
						Niveau
						<i class="fas fa-layer-group text-primary"></i>
					</th>
					<th>
						Droit d'inscription
						<i class="fas fa-file-signature text-primary"></i>
					</th>
				</tr>
			</thead>
			<tbody>
				{% for data in datas %}
					<tr>
						<td>{{ data.niveau.nom }}
						</td>
						<td>{{ data.montant|number_format(0 , '.' , ' ') }}
							Ar
							<i class="fas fa-coins text-secondary"></i>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		</div>
		<div class="navigation ">
			{{ knp_pagination_render(datas) }}
		</div>
	</div>
{% endblock %}
