{% extends 'admin_base.html.twig' %}

{% block title %}Matiere-Coeficient -
	{{ titleMenu  }}
{% endblock %}

{% block body %}

	{# Modele #}
	<!-- Button to Open the Modal -->

	<!-- The Modal -->
		<div class="modal fade modal" id="myModal"> <div class="modal-dialog">
			<div
				class="modal-content" class='modal-edit'>
				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">Modification
						<i class="fa-solid fa-pen"></i>
					</h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
				</div>

				<!-- Modal body -->
				<form
					class='form-edit' action="/parametre/niveau/edition/" method='post'>
					{# spinner  #}
					<div class="editspinner d-none">
						{% include "partials/spinners.html.twig" %}
					</div>
					{# spinner  #}
					<div class="modal-body">
						<div class="mb3">
							<label for="nom-edit" class='form-label'>Dénomination :
							</label>
							<input type="text" class='d-none' name='_token' value='{{ csrf_token("form_niveau_edit") }}'>
							<input type="hidden" class="form-control " id='id-edit' name='niveau[id]'>
							<input type="text" class="form-control" id='denomination-edit' name='denomination'>
						</div>
						<div class="mb3">
							<label for="nom-edit" class='form-label'>Abréviation :
							</label>
							<input type="text" class="form-control" id='abreviation-edit' name='abreviation'>
						</div>
					</div>

					<!-- Modal footer -->
					<div class="modal-footer boutton__">
						<button class='btn btn-info' type='submit'>
							<i class="fa-solid fa-pen-to-square"></i>
							Modifier
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	{# Modele #}

	<form action="{{ path('parametre_srch_niveau') }}" method='post'>
		<div class="mb-3">
			<label for="" class="form-label">Choisire un Niveau :
			</label>
			<input type="text" class="d-none " name='_token' value='{{ csrf_token("srch_niveau") }}'>
			<select name="niveau" id="" class='form-select ui search dropdown'>
				{% for niveau in niveaux %}
					<option value="{{ niveau.id }}">{{ niveau.nom }}</option>
				{% endfor %}
			</select>
		</div>
		<div class="boutton__">
			<button class='btn btn-info'>Rechercher</button>
		</div>
	</form>

	<h4>Liste des matières :</h4>
	<div class="table-container mt-3">
		<table class="table table-md">
			<thead class='table-dark'>
				<tr>
					<th>
						Matièere
						<i class="fas fa-edit text-primary"></i>
					</th>
					<th>
						Abréviation
						<i class="fas fa-dollar text-primary"></i>
					</th>
					<th>Coéficient</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{% if datas is defined  %}
					{% for data in datas %}
						<tr>
							<td>{{ data.matier.denomination|capitalize  }}</td>
							<td>{{ data.matier.abreviation|capitalize  }}</td>
							<td>
								{# <a href="{{ path('parametre_niveau_edit' , { id:data.id }) }}" class="btn btn-sm btn-outline-primary"> #}
								<a href="#" class="btn btn-sm btn-outline-primary edit" data-id='{{ data.id }}' data-bs-toggle="modal" data-bs-target="#myModal">
									<i class="fa-solid fa-pen-to-square"></i>
								</a>
								<form action="{{ path('parametre_matiere_delete' , { id:data.id } ) }}" class="__delete_form">
									<input type="hidden" name='id' value='{{ data.id }}'>
									<button type="button" onclick='__delete( this , {{ data.id }} )' class="btn btn-sm btn-outline-danger">
										<i class="fa-solid fa-trash"></i>
									</button>
								</form>
							</td>
						</tr>
					{% endfor %}
				{% endif %}


			</tbody>
		</table>
	</div>


{% endblock %}
