{% extends 'admin_base.html.twig' %}

{% block title %}Matiére -
	{{ titleMenu  }}
{% endblock %}

{% block body %}

	{# Modele #}
	<!-- Button to Open the Modal -->

	<!-- The Modal -->
		<div class="modal fade modal" id="myModal"> <div class="modal-dialog">
			<div
				class="modal-content" class='modal-edit'>
				<!-- Modal Header -->
				<div class="modal-header">
					<h4 class="modal-title">Modification
						<i class="fa-solid fa-pen"></i>
					</h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
				</div>

				<!-- Modal body -->
				<form
					class='form-edit' action="/parametre/niveau/edition/" method='post'>
					<div class="modal-body">
						<div class="mb3">
							<label for="nom-edit" class='form-label'>Dénomination :
							</label>
							<input type="text" class='d-none' name='_token' value='{{ csrf_token("form_niveau_edit") }}'>
							<input type="hidden" class="form-control " id='id-edit' name='niveau[id]'>
							<input type="text" class="form-control" id='denomination-edit' name='denomination'>
						</div>
						<div class="mb3">
							<label for="nom-edit" class='form-label'>Abréviation :
							</label>
							<input type="text" class="form-control" id='abreviation-edit' name='abreviation'>
						</div>
					</div>

					<!-- Modal footer -->
					<div class="modal-footer boutton__">
						<button class='btn btn-info' type='submit'>
							<i class="fa-solid fa-pen-to-square"></i>
							Modifier
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	{# Modele #}
	<div class="form-add ">
		<div class="title-left">
			<h5>
				<i class="fa-solid fa-circle-plus"></i>
				Ajout Matière
			</h5>
		</div>
		{{ form_start( form_matier )}}
		{{ form_row( form_matier.denomination )}}
		{{ form_row( form_matier.abreviation )}}
		<div class="boutton__">
			<button class='btn btn-info ' type='submit'>
				<i class="fa-solid fa-check"></i>
				Valider
			</button>
		</div>
		{{ form_end( form_matier )}}
	</div>


	<div class="table-container mt-3">
		<div class="title-left">
			<h5>
				<i class="fa-solid fa-bars-staggered"></i>
				Liste des matières
			</h5>
		</div>
		<table class="table table-md  table-hover">
			<thead class=''>
				<tr>
					<th>
						Dénomination
						<i class="fas fa-tag text-primary"></i>
					</th>
					<th>
						Abréviation
						<i class="fas fa-font text-primary"></i>
					</th>
					<th>Action
						<i class="fas fa-cogs text-primary"></i>
					</th>
				</tr>
			</thead>
			<tbody>
				{% for data in datas %}
					<tr>
						<td>{{ data.denomination|capitalize  }}</td>
						<td>{{ data.abreviation|capitalize  }}</td>
						<td>
							{# <a href="{{ path('parametre_niveau_edit' , { id:data.id }) }}" class="btn btn-sm btn-outline-primary"> #}
							<a href="#" class="btn btn-sm btn-outline-primary edit" data-id='{{ data.id }}' data-bs-toggle="modal" data-bs-target="#myModal">
								<i class="fa-solid fa-pen-to-square"></i>
							</a>
							<form action="{{ path('parametre_matiere_delete' , { id:data.id } ) }}" class="__delete_form">
								<input type="hidden" name='id' value='{{ data.id }}'>
								<button type="button" onclick='__delete( this , {{ data.id }} )' class="btn btn-sm btn-outline-danger">
									<i class="fa-solid fa-trash"></i>
								</button>
							</form>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="navigation ">
			{{ knp_pagination_render(datas) }}
		</div>
	</div>
{% endblock %}
