<turbo-stream action="update" target="tab_body_stream">
	<template>
		{% for data in datas %}
			<tr>
				<td>
					{{ data.matier.denomination }}
				</td>
				<td>
					{{ data.matier.abreviation }}
				</td>
				<td>
					{{ data.coeficient }}
				</td>
				<td>
					<a href="#" class="btn btn-sm btn-outline-primary edit" data-id='{{ data.id }}' data-bs-toggle="modal" data-bs-target="#myModal">
						<i class="fa-solid fa-pen-to-square"></i>
					</a>
					<form action="{{ path('parametre_matiere_delete' , { id:data.id } ) }}" class="__delete_form">
						<input type="hidden" name='id' value='{{ data.id }}'>
						<button type="button" onclick='__delete( this , {{ data.id }} )' class="btn btn-sm btn-outline-danger">
							<i class="fa-solid fa-trash"></i>
						</button>
					</form>
				</td>
			</tr>
		{% endfor %}
	</template>
</turbo-stream>
<turbo-stream action="update" target="niveau-name">
	<template>
		de :
		{{ niveau_nom|capitalize  }}
	</template>
</turbo-stream>
{% if add == true %}
	<turbo-stream action="update" target="flash_message">
		<template>
			{{ alert(  'Ajout effectué', "success" )|raw}}
		</template>
	</turbo-stream>
{% endif %}

<turbo-stream action="update" target="add-matiere_coef">
	<template>
		<div class="form-add " id='__form__'>
			<div class="title-left">
				<h5>
					<i class="fa-solid fa-circle-plus"></i>
					Ajouter une nouvelle matière de :
					{{ niveau_nom|capitalize  }}
				</h5>
			</div>
			{{ form_start( form_add )}}
			{{ form_row( form_add.Niveau)}}
			{{ form_row( form_add.Matier)}}
			{{ form_row( form_add.coeficient )}}
			<input type="hidden" name='__niveau_id' value='{{ niveau_id }}'>
			<input type="hidden" name='__niveau_nom' value='{{ niveau_nom }}'>
			<div class="boutton__">
				<button class='btn btn-info ' type='submit'>
					<i class="fa-solid fa-check"></i>
					Valider
				</button>
			</div>
			{{ form_end( form_add )}}
		</div>
	</template>
</turbo-stream>
