{% extends 'admin_base.html.twig' %}

{% block title %}Frais -
	{{ titleMenu  }}
{% endblock %}

{% block body %}

<div class="form-add" id='__form__'>
		<div class="title-left">
			<h5>
				<i class="fa-solid fa-circle-plus"></i>
				Ajout Classe 
			</h5>
		</div>
	{{ form_start( classe_form )}}
	{{ form_row( classe_form.niveau ) }}
	{{ form_row( classe_form.denomination ) }}
	<div class="boutton__">
		<button class='btn btn-info ' type='submit'>
			{% if id is defined %}
				<i class="fa-solid fa-pen-to-square"></i>
				Modifier
			{% else %}
				<i class="fa-solid fa-check"></i>
				Valider
			{% endif %}
		</button>
	</div>
	{{ form_end( classe_form )}}
	</div>

	<div class="table-container mt-3">
	<div class="title-left">
			<h5>
				<i class="fa-solid fa-bars-staggered"></i>
				Liste des classes 
			</h5>
		</div>
		<table class="table table-md  table-hover">
			<thead class=''>
				<tr>
					<th>
					<i class="fas fa-tag text-primary"></i>
					Denomination</th>
					<th>Niveau</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{% for data in datas %}
					<tr>
						<td>{{ data.denomination  }}</td>
						<td>{{ data.niveau.nom }}</td>
						<td>
							{# <a href="{{ path('parametre_classe_edit' , { id:data.id }) }}" class="btn btn-sm btn-outline-primary">
																						<i class="fa-solid fa-pen-to-square"></i>
																					</a> #}
							<a href="#" class="btn btn-sm btn-outline-primary edit" data-id='{{ data.id }}' data-bs-toggle="modal" data-bs-target="#myModal">
								<i class="fa-solid fa-pen-to-square"></i>
							</a>
							<form action="{{ path('parametre_classe_delete' , { id:data.id } ) }}" class="__delete_form">
								<input type="hidden" name='id' value='{{ data.id }}'>
								<button type="button" onclick='__delete( this , {{ data.id }} )' class="btn btn-sm btn-outline-danger">
									<i class="fa-solid fa-trash"></i>
								</button>
							</form>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="navigation ">
			{{ knp_pagination_render(datas) }}
		</div>
	</div>
{% endblock %}
