{% extends 'admin_base.html.twig' %}

{% block title %}Niveau -
	{{ titleMenu  }}
{% endblock %}

{% block body %}

	<div class="form-add" id='__form__'>
		<div class="title-left">
			<h5>
				<i class="fa-solid fa-circle-plus"></i>
				Ajout Niveau
			</h5>
		</div>
		{{ form_start( form_niveau )}}
		{{ form_row( form_niveau.nom ) }}
		{{ form_row( form_niveau.droit ) }}
		{{ form_row( form_niveau.frais ) }}

		<div id="__classe_add_container" class='{{ ( form_niveau.nbr_classe.vars.value == '')? 'd-none' : '' }}'>
			{{ form_row( form_niveau.nbr_classe ) }}
			<div class="text-primary">
				<label for="" class='form-label'>Nominalisation des classes en alphabet( Classe A , B , ... ) ou en chiffre ( Classe 1 , 2 , ... )
				</label>
			</div>
			<div class='d-flex gap-5'>
				{% for child in form_niveau.type %}
					<div class="">
						{{ form_widget(child) }}
						{{ form_label(child) }}
					</div>
				{% endfor %}
			</div>
		</div>

		<div class="boutton__">

			{% if form_niveau.nbr_classe.vars.value == '' %}
				<button type='button' class='btn btn-secondary' id='__add_classe'>
					<i class='fa-solid fa-plus'></i>
					Ajout Classe
				</button>
			{% endif %}

			<button class='btn btn-info ' type='submit'>
				<i class="fa-solid fa-check"></i>
				Valider
			</button>
		</div>
		{{ form_end( form_niveau )}}
	</div>


	<div class="table-container mt-3">
		<div class="title-left">
			<h5>
				<i class="fa-solid fa-bars-staggered"></i>
				Liste des niveaux
			</h5>
		</div>
		<table class="table table-md  table-hover  table-hover">
			<thead>
				<tr>
					<th>
						Nom
						<i class="fas fa-tag text-primary"></i>
					</th>
					<th>
						Droit d'inscription
						<i class="fas fa-file-signature text-primary"></i>
					</th>
					<th>
						Frais de scolarité
						<i class="fas fa-money-bill-wave text-primary"></i>
					</th>
					<th>
						Nbr Classe
						<i class="fas fa-chalkboard-teacher text-primary"></i>
					</th>
					<th>
						Date d'ajout
						<i class="fas fa-calendar-plus text-primary"></i>
					</th>
					<th>Action
						<i class="fas fa-cogs text-primary"></i>
					</th>
				</tr>
			</thead>
			<tbody>
				{% for data in datas %}
					<tr>
						<td id='table_tr_{{ data.id }}'>{{ data.nom|capitalize  }}</td>
						<td>
							{% if data.droits|length > 0 %}
								{{ data.droits[0].montant|number_format(0 , '.' , ' ') }}
								Ar
								<i class="fas fa-dollar text-secondary"></i>
							{% else %}
								<p class="text-secondary text-small">
									En attente ...
								</p>
							{% endif %}
						</td>
						<td>
							{% if data.frais|length > 0 %}
								{{ data.frais[0].montant|number_format(0 , '.' , ' ') }}
								Ar
								<i class="fas fa-coins text-secondary"></i>
							{% else %}
								<p class="text-secondary text-small">
									En attente ...
								</p>
							{% endif %}
						</td>
						<td>
							{{ data.classes|length }}
						</td>
						<td>
							{{ data.createdAt|date('d-m-Y') }}
							<i class="fas fa-calendar-check text-secondary"></i>
						</td>
						<td>
							<a href='{{ path('parametre_niveau_edit' , {id:data.id}) }}' type='submit' class="btn btn-sm btn-outline-primary">
								<i class="fa-solid fa-pen-to-square"></i>
							</a>
							<form action="{{ path('parametre_niveau_delete' , { id:data.id } ) }}" class="__delete_form">
								<input type="hidden" name='id' value='{{ data.id }}'>
								<button type="button" onclick='__delete( this , {{ data.id }} )' class="btn btn-sm btn-outline-danger">
									<i class="fa-solid fa-trash"></i>
								</button>
							</form>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="navigation ">
			{{ knp_pagination_render(datas) }}
		</div>
	</div>
{% endblock %}
