{% extends 'admin_base.html.twig' %}

{% block title %}Frais -
	{{ titleMenu  }}
{% endblock %}

{% block body %}

	{% include "partials/admin/onglet.html.twig"  %}
	{{ form_start( form_niveau )}}
	{{ form_row( form_niveau.nom ) }}
	<div class="boutton__">
		<button class='btn btn-info ' type='submit'>
			<i class="fa-solid fa-check"></i>
			Valider
		</button>
	</div>
	{{ form_end( form_niveau )}}
	<div class="table-container mt-3">
		<table class="table table-md">
			<thead class='table-dark'>
				<tr>
					<th>Nom</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				{% for data in datas %}
					<tr>
						<td>{{ data.nom|capitalize  }}</td>
						<td>
							<button type="button" class="btn btn-sm btn-outline-danger">
								<i class="fa-solid fa-trash"></i>
							</button>
							<button type="button" class="btn btn-sm btn-outline-dark">
								<i class="fa-solid fa-pen-to-square"></i>
							</button>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="navigation ">
			{{ knp_pagination_render(datas) }}
		</div>
	</div>
{% endblock %}
