<turbo-stream action="update" target="__form__">
	<template>
		<div class="title-left">
			<h5>
				<i class="fa-solid fa-circle-plus"></i>
				Ajout Niveau
			</h5>
		</div>
		{{ form_start( form_niveau )}}
		{{ form_row( form_niveau.nom ) }}
		{{ form_row( form_niveau.droit ) }}
		{{ form_row( form_niveau.frais ) }}

		<div id="__classe_add_container" class='{{ ( form_niveau.nbr_classe.vars.value == '')? 'd-none' : '' }}'>
			{{ form_row( form_niveau.nbr_classe ) }}
			<div class="text-primary">
				<label for="" class='form-label'>Nominalisation des classes en alphabet( Classe A , B , ... ) ou en chiffre ( Classe 1 , 2 , ... )
				</label>
			</div>
			<div class='d-flex gap-5'>
				{% for child in form_niveau.type %}
					<div class="">
						{{ form_widget(child) }}
						{{ form_label(child) }}
					</div>
				{% endfor %}
			</div>
		</div>

		<div class="boutton__">

			{% if form_niveau.nbr_classe.vars.value == '' %}
				<button type='button' class='btn btn-secondary' id='__add_classe'>
					<i class='fa-solid fa-plus'></i>
					Ajout Classe
				</button>
			{% endif %}

			<button class='btn btn-info ' type='submit'>
				<i class="fa-solid fa-check"></i>
				Valider
			</button>
		</div>
		{{ form_end( form_niveau )}}
	</template>
</turbo-stream>
