<div class='head'>
	<div class="head-left">
		<h3>{{ titleMenu }}</h3>
	</div>
	<div class="head-right">
		<div class='user-info-container'>
			<span class='user-icone text-success'>
				<i class="fas fa-user"></i>
			</span>
			{% if app.user %}
				<p>
					{{ app.user.email  }}
				</p>
			{% endif %}
			<span class='user-icone'>
				<i class="fa-solid fa-angle-down"></i>
			</span>
		</div>
	</div>
</div>
<div class='user-info-liste info-liste'>
	<ul>
		<li class='mb-1 user-info-liste-li d-none'>
			<a href="#">
				<span class='user-icone me-1'>
					<i class="fa-solid fa-gear"></i>
				</span>Sécurité</a>
		</li>
		<li class='user-info-liste-li d-none'>
			<a href="{{ path('app_logout') }}">
				<span class='user-icone me-2'>
					<i class="fa-solid fa-sign-out-alt"></i>
				</span>Deconnexion</a>
		</li>
	</ul>
</div>
<div class="sidebare">
	<div class="side-title mb-2">
		<h3>
			<span class='menu-principale-icone' id='hide-show-menu'>
				<i class="fa-solid fa-bars"></i>
			</span>
			<span class='attribute-menu'>
				{{ titleMenu }}
			</span>
		</h3>
	</div>
	<div class="side-navigation">
		<ul>
			{% if ( menuListes ) %}
				{% for titre , menu in menuListes %}
					{% if (  is_granted( menu.role )  or menu.role == "" ) %}
						<li class='menu-liste'>
							<a href="{{ menu.href is defined and menu.href != '' ? path(menu.href) : '#' }}">
								<span class='menu-icone'>
									{{ menu.icone|raw}}
								</span>
								<span class='attribute-menu'>
									{{ titre  }}
								</span>
							</a>
							<div class="attribut-to-hidde">
								<p>{{ titre  }}</p>
							</div>
						</li>
					{% endif %}
				{% endfor %}
			{% else %}
				<div class="alert alert-warning">
					Menu non trouvé...
				</div>
			{% endif %}
			<li class="menu-liste mt-5">
				<a href="{{ path('app_menu') }}">
					<span class='menu-icone'>
						<i class="fa-solid fa-reply"></i>
					</span>
					<span class='attribute-menu' style="text-decoration: underline;">
						Retour
					</span>
				</a>
				<div class="attribut-to-hidde">
					Retour dans le menu
				</div>
			</li>
		</ul>
	</div>
</div>
