<link rel="stylesheet" href="{{ asset('assets/css/sidebare.css') }}">
<div class='head'>
	<div class="head-right">
		<div class='user-info-container'>
			<span class='user-icone text-success'>
				<i class="fas fa-user"></i>
			</span>
			{% if app.user %}
				<p>
					{{ app.user.email  }}
				</p>
			{% endif %}
			<span class='user-icone'>
				<i class="fa-solid fa-angle-down"></i>
			</span>
		</div>
	</div>
</div>
<div class="sidebare">
	<div class="side-title mb-2">
		<h3>
			<span class='menu-principale-icone'>
				<i class="fa-solid fa-bars"></i>
			</span>
			{{ titleMenu }}
		</h3>
	</div>
	<div class="side-navigation">
		<ul>
			{% if ( menuListes ) %}
				{% for titre , menu in menuListes %}
					{% if (  is_granted( menu.role )  or menu.role == "" ) %}
						<li class='menu-liste '>
							<a href="{{ menu.href is defined and menu.href != '' ? path(menu.href) : '#' }}">
								<span class='menu-icone'>
									{{ menu.icone|raw}}
								</span>
								{{ titre  }}
							</a>
						</li>
					{% endif %}
				{% endfor %}
			{% else %}
				<div class="alert alert-warning">
					Menu non trouvé...
				</div>
			{% endif %}

		</ul>
	</div>
</div>
