<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Ecole
			{% endblock %}
			| Nathiyh</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		{# lien de style css #}
		<link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css.map') }}">
		<link
		rel="stylesheet" href="{{ asset('assets/css/all.min.css') }}">

		<!-- Auto-complet -->
		<link rel="stylesheet" href="{{ asset('assets/auto_complete/css/autocomplete/dropdown.min.css') }} ">
		<link rel="stylesheet" href="{{ asset('assets/auto_complete/css/autocomplete/form.min.css') }} ">
		<link
		rel="stylesheet" href="{{ asset('assets/auto_complete/css/autocomplete/transition.min.css') }} ">
		<!-- Auto-complet -->


		<link rel="stylesheet" href="{{ asset('assets/css/alert.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/css/admin/sidebare.css') }}">
		<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">


		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		{# Side bar  #}
		{% include "partials/admin/sidebare.html.twig" %}
		{# Side bar  #}

		<div class='corps'> {% block body %}{% endblock %}
			</div>


			{# Section des alert  #}
			{% include "partials/alert.html.twig" %}
			{# Section des alert  #}

			<script src="{{ asset('assets/js/jquery.min.js') }}"></script>
			<script src="{{ asset('assets/js/bootstrap.bundle.min.js.map') }}"></script>
			<script src="{{ asset('assets/js/all.min.js') }}"></script>

			<!-- Auto-complet -->
			<script src="{{ asset('assets/auto_complete/js/autocomplete/bootstrap.5.2.3.no.dropdown.js') }} "></script>
			<script src="{{ asset('assets/auto_complete/js/autocomplete/dropdown.min.js') }} "></script>
			<script src="{{ asset('assets/auto_complete/js/autocomplete/form.min.js') }}"></script>
			<script src="{{ asset('assets/auto_complete/js/autocomplete/transition.min.js') }} "></script>
			<!-- Auto-complet -->

			<script src="{{ asset('assets/js/admin/alert.js') }}"></script>
			<script src="{{ asset('assets/js/admin/admin_general.js') }}"></script>
			<script src="{{ asset('assets/js/main.js') }}"></script>
		</body>
	</html>
